ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  object-fit: cover;
}
picture {
  display: block;
}
a {
  display: block;
}

/* breadcrumb */
.breadcrumb {
  a {
    display: inline;
  }
}

/* table*/
.table {
  margin-bottom: 0;
}

/* badge */
.badge {
  line-height: 1.2;
}

/* divider-label */
.divider-label {
  color: $gray-03;

  hr {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: $gray-02;
    margin: 0 12px;
  } 
}

/* background */
.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* wrap */
.wrap-lg {
  padding: 80px 0;

  @include pad {
    padding: 40px 0;
  }
}
.wrap {
  padding: 80px 0;

  @include pad {
    padding: 32px 0;
  }
}
.wrap-sm {
  padding: 80px 0;

  @include pad {
    padding: 24px 0;
  }
}
.wrap-xs {
  padding: 80px 0;

  @include lg-pc {
    padding: 24px 0;
  }
}
