.card-hover {
  &:hover {
    box-shadow: 0px 4px 80px 0px rgba(208, 162, 247, 0.8);
  }
}

.gradient-border {
  border: 1px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;

  &::after {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(123.12deg, #d0a2f7 0%, rgba(241, 234, 255, 0.1) 100%);
    border-radius: 16px;
    z-index: -1;
  }
}
