$breakpoints: (
  xxl: 1200px,
  xl: 992px,
  lg: 768px,
  md: 576px,
  sm: 0px
);

/* 2個flex */
.f-justify-center {
  display: flex;
  justify-content: center;
}
.f-align-center {
  display: flex;
  align-items: center;
}
.f-column {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
}

/* 3個flex */
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.f-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@each $breakpoint, $media in $breakpoints {
  @media (min-width: #{$media}) {
    .f-#{$breakpoint}-justify-center {
      display: flex;
      justify-content: center;
    }
    .f-#{$breakpoint}-align-center {
      display: flex;
      align-items: center;
    }
    .f-#{$breakpoint}-column {
      display: flex;
      flex-direction: column;
    }
    .f-#{$breakpoint}-row {
      display: flex;
      flex-direction: row;
    }
    .f-#{$breakpoint}-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .f-#{$breakpoint}-between-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .f-#{$breakpoint}-between-end {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .f-#{$breakpoint}-column-align-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.card-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
