/* 右移 特效 */
.slide-right-hover {
  transition: 0.3s;
  &:hover {
    transform: translate(5px, 0px);
    transition: 0.3s;
  }
}

/* 下移 特效 */
.slide-down-hover {
  transition: 0.3s;
  &:hover {
    transform: translate(0px, 5px);
    transition: 0.3s;
  }
}

/* 上移 特效 */
.slide-up-hover {
  transition: 0.3s;
  &:hover {
    transform: translate(0px, -5px);
    transition: 0.3s;
  }
}

/* underline 特效 */
.underline-hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
/* icon放大 特效 */
.icon-hover:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

/* 圖片放大 特效 */
.img-hover-enlarge {
  .cover-img {
    transition: transform 0.3s;
  }

  &:hover .cover-img {
    transition: transform 0.3s;
    transform: scale(1.1);
  }

  .img-wrapper {
    overflow: hidden;
  }
}

/* 影片清單背景著色 特效 */
.video-background-color-hover {
  &:hover {
    background-color: $brand-02;
    cursor: pointer;
  }
}
