/* icon-fill */
.material-symbols-outlined.icon-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: currentColor;
}

.favorite {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
