@mixin xxl-pc {
  @media (max-width: 1399.98px) {
    @content;
  }
}
@mixin xl-pc {
  @media (max-width: 1199.98px) {
    @content;
  }
}
@mixin lg-pc {
  @media (max-width: 991.98px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 767.98px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: 368px) {
    @content;
  }
}
