<footer class="layout-footer-wrap wrap-lg bg-white">
  <div class="container f-xl-between">
    <div class="footer-info-wrap flex-grow-1">
      <a href="index.html" class="navbar-brand">
        <picture>
          <source
            srcset="../assets/images/logo-sm.png"
            media="(max-width: 575.98px)">
          <img
            src="../assets/images/logo.png"
            alt="article-image">
        </picture>
      </a>
      <ul class="mt-4 mt-lg-6">
        <li class="f-align-center">
          <span class="material-symbols-outlined fs-6">
            call
          </span>
          <a
            href="tel:+0212345678"
            class="fs-7 link-hover lh-sm ms-2">
            (02) 1234-5678
          </a>
        </li>
        <li class="f-align-center mt-2">
          <span class="material-symbols-outlined fs-6">
            schedule
          </span>
          <p class="fs-7 lh-sm ms-2">MON - FRI : 8:30 am - 17:30 pm</p>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-grow-1 mt-8 mt-lg-0">
      <ul class="navbar-nav f-column w-50 px-4">
        <li class="nav-item">
          <a
            class="nav-link link-hover d-inline-flex link-gray-02 fs-7"
            aria-current="page"
            href="#">
            精選課程
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-hover d-inline-flex link-gray-02 fs-7"
            href="#">
            一對一教學
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-hover d-inline-flex link-gray-02 fs-7"
            href="#">
            課程客製化
          </a>
        </li>
      </ul>
      <ul class="navbar-nav f-column w-50 px-4">
        <li class="nav-item">
          <a
            class="nav-link link-hover d-inline-flex link-gray-02 fs-7"
            aria-current="page"
            href="#">
            常見問題
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-hover d-inline-flex link-gray-02 fs-7"
            href="#">
            成為老師
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-hover d-inline-flex link-gray-02 fs-7"
            href="#">
            訂閱方案選擇
          </a>
        </li>
      </ul>
    </div>
    <ul class="d-flex justify-content-lg-end flex-grow-1 mt-8 mt-lg-0 ms-lg-6">
      <li>
        <a href="#" class="icon-hover">
          <img src="../assets/images/icon/icon-ins-purple.svg" alt="icon-ins">
        </a>
      </li>
      <li class="ms-3">
        <a href="#" class="icon-hover">
          <img src="../assets/images/icon/icon-facebook-purple.svg" alt="icon-ins">
        </a>
      </li>
      <li class="ms-3">
        <a href="#" class="icon-hover">
          <img src="../assets/images/icon/icon-mail-purple.svg" alt="icon-ins">
        </a>
      </li>
    </ul>
  </div>
</footer>
