<a 
  href="javascript:void(0);"
  onclick="scrollToTop()">
  <img
    class="scroll-to-top-btn"
    src="../assets/images/icon/icons-to-top.png"
    alt="to-top-btn-image">
</a>

<script>
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  }
</script>