<div class="col">
  <div class="student-comment-card card p-4 h-100">
    <div>
      <img src="../assets/images/user/<%= profile %>.png" alt="profile" class="object-fit-cover rounded-circle me-4" />
    </div>
    <div class="h-100">
      <h6 class="mb-2 text-gray-01 fw-medium mb-1"><%= name %></h6>
      <p class="comment-details mb-1"><%= commentDetails %></p>
      <p class="timestamp text-gray-03 fs-7 mt-auto"><%= timestamp %></p>
    </div>
  </div>
</div>
