<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a
        href="index.html"
        class="underline-hover">
        首頁
      </a>
    </li>
    <li class="breadcrumb-item">
      <a
        href="subscription.html"
        class="underline-hover">
        訂閱方案
      </a>
    </li>
    <li class="breadcrumb-item active fw-semibold" aria-current="page">
      <% if (level === 'normal') { %>
        升級方案 - 基本會員
      <% } %>
      <% if (level === 'premium') { %>
        升級方案 - 高級會員
      <% } %>
    </li>
  </ol>
</nav>
<h1 class="fs-2 fs-lg-1 text-brand-03 mt-8">
  <% if (level === 'normal') { %>
    升級方案 - 基本會員
  <% } %>
  <% if (level === 'premium') { %>
    升級方案 - 高級會員
  <% } %>
</h1>
<div class="subscription-info-wrap">
  <ul class="fs-6 fs-md-5 mt-8 mt-lg-12">
    <li class="f-align-center mt-4 mt-lg-4">
      <span class="material-symbols-outlined icon-fill text-brand-03">
        check_circle
      </span>
      <p class="fw-medium lh-sm ms-4">
        可參與影片討論區，與其他使用者交流
      </p>
    </li>
    <li class="f-align-center mt-4 mt-lg-4">
      <span class="material-symbols-outlined icon-fill text-brand-03">
        check_circle
      </span>
      <p class="fw-medium lh-sm ms-4">
        不限次數、不限時長，觀看所有教學影片
      </p>
    </li>
    <li class="f-align-center mt-4 mt-lg-4">
      <span class="material-symbols-outlined icon-fill text-brand-03">
        check_circle
      </span>
      <p class="fw-medium lh-sm ms-4">
        可預約一對一教學、程式碼檢視
      </p>
    </li>
    <li class="f-align-center mt-4 mt-lg-4">
      <span class="material-symbols-outlined icon-fill text-brand-03 flex-shrink-1">
        check_circle
      </span>
      <p class="fw-medium lh-sm ms-4 flex-grow-1">
        可成為老師，上傳教學影片，接受學生預約與客製化需求
      </p>
    </li>
    <% if (level === 'premium') { %>
      <li class="f-align-center mt-4 mt-lg-4">
        <span class="material-symbols-outlined icon-fill text-brand-03">
          check_circle
        </span>
        <p class="fw-medium lh-sm ms-4">
          可發佈學習客製化需求
        </p>
      </li>
    <% } %>
  </ul>
  <div class="d-flex justify-content-end mt-12">
    <h2 class="fs-4 fs-lg-3 fw-medium fw-lg-bold f-align-center">
      NT$
      <span class="fs-1 fw-bold ms-2">
        <% if (level === 'normal') { %>
          299
        <% } %>
        <% if (level === 'premium') { %>
          499
        <% } %>
      </span>
      <span class="fs-4 fs-lg-3 fw-normal ms-2">
        / 月
      </span>
    </h4>
  </div>
  <div class="f-end-center mt-6 mt-lg-8">
    <a href="subscription.html">
      <button
        onclick=""
        class="btn btn-outline-brand-03 border-1 rounded-2 f-align-center px-md-13">
        查看其它方案
      </button>
    </a>
    <% if (level === 'normal') { %>
      <a href="subscription-booking-normal.html">
    <% } %>
    <% if (level === 'premium') { %>
      <a href="subscription-booking-premium.html">
    <% } %>
      <button
        class="btn btn-brand-03 rounded-2 slide-right-hover f-align-center ms-4 px-md-13">
        前往付款
        <span class="material-symbols-outlined icon-fill fs-4 ms-1">
          arrow_forward
        </span>
      </button>
    </a>
  </div>
</div>