<div class="col-lg-4">
  <div class="subscription-card card shadow">
    <div>
      <span class="badge bg-gray-04 rounded-2">
        <h4 class="card-badge-text">免費會員</h4>
      </span>
    </div>
    <div class="mt-4 mt-lg-6 pb-4 pb-lg-6 border-bottom">
      <h4 class="fs-5 fs-lg-4 fw-medium fw-lg-bold f-align-center">
        NT$
        <span class="fs-2 fs-lg-1 fw-bold ms-2">
          0
        </span>
        <span class="fs-5 fs-lg-4 fw-normal ms-2">
          <% if (month) { %>
            / 月
          <% } %>
          <% if (!month) { %>
            / 年
          <% } %>
        </span>
      </h4>
    </div>
    <div class="card-body p-0 mt-4 mt-lg-6 f-column-between">
      <ul>
        <li class="f-align-center">
          <span class="material-symbols-outlined icon-fill text-brand-03">
            check_circle
          </span>
          <p class="fw-medium lh-sm ms-4">
            可觀看免費影片
          </p>
        </li>
        <li class="f-align-center mt-4 mt-lg-4">
          <span class="material-symbols-outlined icon-fill text-brand-03">
            check_circle
          </span>
          <p class="fw-medium lh-sm ms-4">
            可參與影片討論區，與其他使用者交流
          </p>
        </li>
      </ul>
      <button
        class="btn btn-brand-03 slide-right-hover f-center w-100 mt-6 mt-lg-10">
        立即訂閱
        <span class="material-symbols-outlined icon-fill fs-6 fs-md-5 ms-1">
          arrow_forward
        </span>
    </button>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="subscription-card card shadow">
    <div>
      <span class="badge bg-gray-04 rounded-2">
        <h4 class="card-badge-text">基本會員</h4>
      </span>
    </div>
    <div class="mt-4 mt-lg-6 pb-4 pb-lg-6 border-bottom">
      <h4 class="fs-5 fs-lg-4 fw-medium fw-lg-bold f-align-center">
        NT$
        <span class="fs-2 fs-lg-1 fw-bold ms-2">
          <% if (month) { %>
            299
          <% } %>
          <% if (!month) { %>
            2,399
          <% } %>
        </span>
        <span class="fs-5 fs-lg-4 fw-normal ms-2">
          <% if (month) { %>
            / 月
          <% } %>
          <% if (!month) { %>
            / 年
          <% } %>
        </span>
      </h4>
    </div>
    <div class="card-body p-0 mt-4 mt-lg-6 f-column-between">
      <ul>
        <li class="f-align-center">
          <span class="material-symbols-outlined icon-fill text-brand-03">
            check_circle
          </span>
          <p class="fw-medium lh-sm ms-4">
            不限次數、不限時長，觀看所有教學影片
          </p>
        </li>
        <li class="f-align-center mt-4 mt-lg-4">
          <span class="material-symbols-outlined icon-fill text-brand-03">
            check_circle
          </span>
          <p class="fw-medium lh-sm ms-4">
            可預約一對一教學、程式碼檢視
          </p>
        </li>
        <li class="f-align-center mt-4 mt-lg-4">
          <span class="material-symbols-outlined icon-fill text-brand-03 flex-shrink-1">
            check_circle
          </span>
          <p class="fw-medium lh-sm ms-4 flex-grow-1">
            可成為老師，上傳教學影片，接受學生預約與客製化需求
          </p>
        </li>
      </ul>
      <a href="subscription-info-normal.html">
        <button
          class="btn btn-brand-03 slide-right-hover f-center w-100 mt-6 mt-lg-10">
          立即訂閱
          <span class="material-symbols-outlined icon-fill fs-6 fs-md-5 ms-1">
            arrow_forward
          </span>
        </button>
      </a>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="subscription-card card border-4 border-brand-01 shadow position-relative">
    <div>
      <span class="badge bg-gray-04 rounded-2">
        <h4 class="card-badge-text">高級會員</h4>
      </span>
    </div>
    <div class="mt-4 mt-lg-6 pb-4 pb-lg-6 border-bottom">
      <h4 class="fs-5 fs-lg-4 fw-medium fw-lg-bold f-align-center">
        NT$
        <span class="fs-2 fs-lg-1 fw-bold ms-2">
          <% if (month) { %>
            499
          <% } %>
          <% if (!month) { %>
            5,799
          <% } %>
        </span>
        <span class="fs-5 fs-lg-4 fw-normal ms-2">
          <% if (month) { %>
            / 月
          <% } %>
          <% if (!month) { %>
            / 年
          <% } %>
        </span>
      </h4>
    </div>
    <div class="card-body p-0 mt-4 mt-lg-6 f-column-between">
      <ul>
        <li class="f-align-center">
          <span class="material-symbols-outlined icon-fill text-brand-03">
            check_circle
          </span>
          <p class="fw-medium lh-sm ms-4">
            包含基本會員擁有的所有服務
          </p>
        </li>
        <li class="f-align-center mt-4 mt-lg-4">
          <span class="material-symbols-outlined icon-fill text-brand-03">
            check_circle
          </span>
          <p class="fw-medium lh-sm ms-4">
            可發佈學習客製化需求
          </p>
        </li>
      </ul>
      <a href="subscription-info-premium.html">
        <button
          class="btn btn-brand-03 slide-right-hover f-center w-100 mt-6 mt-lg-10">
          立即訂閱
          <span class="material-symbols-outlined icon-fill fs-6 fs-md-5 ms-1">
            arrow_forward
          </span>
        </button>
      </a>
      <span class="recommend-badge badge bg-brand-01 f-align-center position-absolute">
        <span class="material-symbols-outlined icon-fill text-white fs-5 fs-lg-6">
          thumb_up
        </span>
        <h5 class="text-white fs-5 fs-lg-6 ms-2">推薦</h5>
      </span>
    </div>
  </div>
</div>