<%- include('./layout/header'); -%>
<main class="tutor-booking-success-section wrap">
  <div class="container">
    <div class="f-center">
      <h1 class="fs-2 fs-lg-1 text-brand-03 f-align-center">
        <span class="material-symbols-outlined icon-fill display-3 text-brand-03 me-5"> check_circle </span>
        付款成功
      </h1>
    </div>
    <div class="row f-center">
      <div class="col-md-8 col-xxl-6 mt-10 mt-lg-11">
        <div class="card shadow rounded-2 p-6 p-lg-10">
          <h2 class="fs-5 fs-lg-4 w-bolder">預約詳細資訊</h2>
          <!-- 詳細預約內容 -->
          <form class="mt-6">
            <div class="row row-cols-md-2">
              <div class="mb-md-12 mb-6">
                <label for="tutor" class="form-label">
                  <h3 class="fs-6 fw-medium">預約老師</h3>
                </label>
                <input type="text" class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="tutor" value="卡斯伯 Casper" disabled />
              </div>
              <div class="mb-md-12 mb-6">
                <label for="bookingType" class="form-label">
                  <h3 class="fs-6 fw-medium">預約類型</h3>
                </label>
                <input
                  type="text"
                  class="form-control border-0 bg-white p-0 rounded-0 text-gray-02"
                  id="bookingType"
                  value="<%= bookingService %>"
                  disabled />
              </div>
              <div class="mb-md-5 mb-6">
                <label for="date" class="form-label">
                  <h3 class="fs-6 fw-medium">預約日期</h3>
                </label>
                <input type="text" class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="date" value="2024/08/11" disabled />
              </div>
              <div class="mb-md-5 mb-6">
                <label for="timeslot" class="form-label">
                  <h3 class="fs-6 fw-medium">預約時段</h3>
                </label>
                <input type="text" class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="timeslot" value="10:00-11:00" disabled />
              </div>
            </div>
            <hr />

            <div class="mt-10">
              <!-- 一程式碼檢視 -->
              <% if (bookingService === "程式碼檢視") { %>
              <div class="mb-8">
                <label for="sourceCodeURL" class="form-label">希望接受檢視的程式碼儲存庫</label>
                <input
                  class="form-control border-0 bg-white p-0 rounded-0 text-gray-02 h-100"
                  id="sourceCodeURL"
                  value="https://github.com/masterchan/next-todo-list.git"
                  disabled />
              </div>

              <div>
                <label for="userInput" class="form-label">希望接受指導的項目</label>
                <textarea class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="userInput" style="resize: none" rows="5" disabled>
第一次寫NextJs的框架。感覺寫的東西都都堆在一齊，看起來很複雜，不知道要怎麼factorize我的程式碼，讓往後維護會更簡單，而且看起來會跟直接，更符合業界標準。希望得到老師的指導。</textarea
                >
              </div>

              <% } %>

              <!-- 一對一教學 -->
              <% if (bookingService === "一對一教學") { %>
              <div>
                <label for="userInput" class="form-label">希望接受指導的項目</label>
                <textarea class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="userInput" style="resize: none" rows="5" disabled>
想深入學習 TypeScript 的高級類型，如條件類型、映射類型等，以提高代碼的類型安全性和可讀性。同時也希望了解泛型在實際項目中的最佳實踐。</textarea
                >
              </div>
              <% } %>
            </div>
          </form>
          <!-- 提醒 -->
          <div class="alert bg-brand-02 f-center" role="alert">
            <span class="material-symbols-outlined me-2"> info </span>

            <!-- 程式碼檢視 -->
            <% if (bookingService === "程式碼檢視") { %> 檢視結果將於預約時間結束時回覆。 <% } %>
            <!-- 一對一教學 -->
            <% if (bookingService === "一對一教學") { %> 會議連結將於預約時間前一天發送至您的電子信箱。 <% } %>
          </div>
          <!-- Button -->
          <a href="index.html" class="">
            <button class="btn btn-brand-03 slide-right-hover f-center rounded-2 w-100">
              回到首頁
              <span class="material-symbols-outlined icon-fill fs-6 fs-md-5 mt-1 ms-1"> arrow_forward </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('./layout/footer'); -%>
