<div class="row tutor-booking-resume">
    <div class="col-md-3 col-5">
        <div class="list-group" id="list-resume-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-work-experience-list" data-bs-toggle="list" href="#list-work-experience" role="tab" aria-controls="list-work-experience">工作經歷</a>
            <a class="list-group-item list-group-item-action" id="list-education-list" data-bs-toggle="list" href="#list-education" role="tab" aria-controls="list-education">學歷</a>
            <a class="list-group-item list-group-item-action" id="list-certificate-list" data-bs-toggle="list" href="#list-certificate" role="tab" aria-controls="list-certificate">證書</a>
        </div>
    </div>
    <div class="col-md-9 col-7">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-work-experience" role="tabpanel" aria-labelledby="list-work-experience-list">
                <div class="d-md-flex mb-5">
                    <p class="date me-5 ">2020 - 2024</p>
                    <div>
                        <p class="fw-bold ">資深前端工程師</p>
                        <p class="text-gray-03 ">TutorABC</p>
                    </div>
                </div>

                <div class="d-md-flex mb-5">
                    <p class="date me-5 ">2015 - 2020</p>
                    <div>
                        <p class="fw-bold">前端工程師</p>
                        <p class="text-gray-03 ">KKDay</p>
                    </div>
                </div>

                <div class="d-md-flex mb-5">
                    <p class="date me-5">2011 - 2015</p>
                    <div>
                        <p class="fw-bold ">前端工程師</p>
                        <p class="text-gray-03 ">Taiwan Tech</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-education" role="tabpanel" aria-labelledby="list-education-list">
                <div class="d-md-flex mb-5">
                    <p class="date me-5">2005 - 2009</p>
                    <div>
                        <p class="fw-bold">國立臺灣大學</p>
                        <p class="text-gray-03 ">外國語文學系學士學位</p>
                        <p class="text-success d-flex verification fs-7 mt-1"><span class="material-symbols-outlined icon-fill align-middle me-1 fs-5">
                                verified
                            </span>學歷認證</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-certificate" role="tabpanel" aria-labelledby="list-certificate-list">
                <div class="d-md-flex mb-5">
                    <p class="date me-5">2024 - 2027</p>
                    <div>
                        <p class="fw-bold">AWS Certified Cloud Practitioner</p>
                        <p class="text-gray-03">Amazon Web Services (AWS)</p>
                        <p class="text-success d-flex verification fs-7 mt-1"><span class="material-symbols-outlined icon-fill align-middle me-1 fs-5">
                                verified
                            </span>證書認證</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>