<ul>
  <li class="video-description-item">掌握 React Hooks 的進階用法</li>
  <li class="video-description-item">了解 React 性能優化技巧</li>
  <li class="video-description-item">學習 React 狀態管理最佳實踐</li>
  <li class="video-description-item">探索 React 生態系統中的常用工具</li>
</ul>