/* course-list-banner-section */
.course-list-banner-section {
  background-image: url('/assets/images/deco/bg-8.png');
  margin-top: -120px;
  padding-top: 120px;

  @include xl-pc {
    background-image: none;
    padding-top: 142px;
    padding-bottom: 72px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xl-pc {
      flex-direction: row;
    }

    @include lg-pc {
      flex-direction: column-reverse;
    }
  }

  .title-wrap {
    @include lg-pc {
      margin-top: -120px;
    }
    @include pad {
      margin-top: -80px;
    }
  }

  .title {
    font-size: 64px;
    font-weight: 900;

    @include xl-pc {
      font-size: 32px;
      font-weight: 700;
      margin-top: 24px;
    }
  }

  .title-info {
    font-size: 28px;
    font-weight: 500;
    margin-top: 24px;

    @include xl-pc {
      font-size: 24px;
      margin-top: 16px;
    }

    @include pad {
      font-size: 16px;
      text-align: center;
    }
  }

  .banner-illustration {
    width: 660px;
    z-index: -1;

    @include pad {
      width: 100%;
    }
  }
}
/* course-list-category-section */
.course-list-category-section {
  .category-card {
    background-color: $brand-05;
    text-align: center;
    border-radius: 16px;
    padding: 36px;
    position: relative;
    overflow: hidden;
    height: 100%;

    &:hover {
      background-color: $brand-04;
      transition: background-color .3s ease-in-out;
      animation: remove-overflow 2s forwards;
    }
    &:hover .card-info {
      animation: show-info 1s forwards;
      opacity: 1;
      transition: opacity .3s;
    }
    &:not(:hover) {
      animation: show-overflow 2s forwards;
    }
    &:not(:hover) {
      .card-info {
        animation: remove-info 1s forwards;
      }
    }

    h4 {
      color: $brand-03;
    }
    &:hover h4 {
      color: $white;
    }
  }

  .card-info {
    width: 90%;
    border-radius: 16px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    padding: 18px 24px;
    position: absolute;
    bottom: -144px;
    left: 0; right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }

  .card-img-wrap {
    height: 240px;
    margin-top: 32px;
    display: flex;
    align-items: center;

    @include lg-pc {
      height: 100%;
    }
  }
  
  /* card animation*/
  @keyframes show-info {
    50% {
      transform: translateY(-160px);
    }
    100% {
      transform: translateY(-108px);
    }
  }

  @keyframes remove-info {
    0% {
      transform: translateY(-108px);
    }
    50% {
      transform: translateY(-160px);
    }
    100% {
      transform: translateY(8px);
    }
  }

  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }

  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
}

/* course-list-freeTipShorts-section */
.course-list-freeTipShorts-section {
  position: relative;
  background-image: url('/assets/images/deco/bg-10.png');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  padding: 100px 0;
  margin-top: 80px;

  @include xl-pc {
    padding: 32px 0;
    background-image: none;
    background-color: $gray-04;
  }

  .freeTipShortsSwiper {
    @include lg-pc {
      padding: 24px 12px 24px;
      margin-top: 120px;
    }
  }

  .title {
    font-size: 40px;
    color: $brand-03;

    @include xxl-pc {
      font-size: 24px;
      text-align: center;
    }
  }

  .swiper-switch-btn {
    @include lg-pc {
      justify-content: flex-end;
    }
  }
}

/* course-list-hot-section */
.hot-course-card {
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    bottom: 0;
    background: linear-gradient(359.16deg, #212529 10.73%, rgba(33, 37, 41, 0.05) 90.27%);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba($color:#2a2f34, $alpha: 0.4);
    transition: opacity .5s;
    border-radius: 8px;
  }
  &:hover::before {
    opacity: 1;
  }

  .hot-course-tag {
    color: $brand-03;
    font-weight: 700;
    background-color: $white;
    border: 1px solid $brand-03;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    top: -20px; right: 8px;
  }
}

/* course-list-customLearning-section */
.course-list-customLearning-section {
  .course-card {
    width: 680px;

    @include xl-pc {
      width: 100%;
      padding: 0 16px;
    }
  }

  .tab-pane {
    min-height: 660px;

    @include lg-pc {
      min-height: 100%;
      display: block;
      opacity: 1;
    }
  }
}
.customLearning-card-wrap {
  display: flex;
  justify-content: center;

  @include lg-pc {
    flex-direction: column;
  }
}
