// 全域混合器
@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// 背景樣式
.bg-custom-course {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url('../images/deco/bg-2.png');
  @include mobile {
    background-image: url('../images/deco/bg-sm-2.png');
  }
}

// 課程標頭樣式
.header-custom-course {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  flex-shrink: 0;

  .navigationArrows {
    display: flex;
    margin-right: 40px;

    .circle {
      background-color: #f1eaff;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      @include flex-center;
      margin-right: 24px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }

    .icon-fill {
      color: #d0a2f7;
      font-size: 28px;
    }
  }

  .searchInput {
    position: relative;
    display: inline-block;
    width: 351px;
    @include lg-pc {
      width: 100%;
    }

    &::before {
      content: '\e8b6';
      font-family: 'Material Symbols Outlined';
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: $gray-03;
      pointer-events: none;
      font-size: 20px;
    }

    .search-course {
      width: 100%;
      padding: 11px 16px 11px 44px;
      background-color: transparent;
      border: 1px solid $gray-03;
      line-height: 20px;

      &::placeholder {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: $gray-03;
      }
    }
  }

  .status-btn {
    border-width: 0;
    padding: 12px 16px;
    line-height: 20px;

    .icon {
      font-size: 20px;
    }
  }

  .dropdown {
    @include lg-pc {
      width: 50%;
    }
  }

  .dropdown-toggle {
    line-height: 20px;
    padding: 10px 24px;
    border-width: 2px;

    @include lg-pc {
      width: 100%;
    }
  }

  .tag-list-container {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  .tag-list-container::-webkit-scrollbar {
    width: 6px;
  }

  .tag-list-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .tag-list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  .tag-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #tagList li {
    cursor: pointer;
    padding: 0.25rem 1.5rem;
  }

  #tagList li.active {
    background-color: #007bff;
    color: white;
  }

  #tagList li:hover {
    background-color: #e9ecef;
  }
}

// 自訂課程許願池樣式
.custom-course-wishpool {
  // 變數
  $card-width: 416px;
  $card-height: 132px;
  $card-border-radius: 24px;
  $transition-time: 0.3s;

  overflow-y: auto;
  display: flex;

  &::-webkit-scrollbar {
    width: 0;
  }
  align-items: center;
  height: 100%;

  // 混合器
  @mixin card-common {
    width: 100%;
    height: $card-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: $card-border-radius;
    box-sizing: border-box;
    @include mobile {
      width: 90%;
    }
  }

  // 許願池容器
  .wishpool-container {
    width: 100%;
    height: 100%;
    padding: 40px 0;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    cursor: grab;
    @include mobile {
      //   width: 90%;
      // padding: 40px 0;
      margin: auto;
    }

    // 隱藏滾動條但保留功能
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &:active {
      cursor: grabbing;
    }
  }

  // 卡片容器
  .cards-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 40px 0;
    justify-content: space-evenly;
    // gap: 55px;
    min-width: min-content;
    height: 100%;
    @include mobile {
      justify-content: flex-start;
    }
  }

  // 卡片行
  .card_row {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;

    &:nth-child(1) {
      padding-left: 50px;
      padding-right: 200px;
    }

    &:nth-child(2) {
      padding-left: 200px;
      padding-right: 50px;
    }
  }

  // 卡片包裝器
  .card-wrapper {
    flex: 0 0 auto;
    width: $card-width;
    height: $card-height;
    position: relative;

    @include mobile {
      width: 100%;
      height: auto;
      padding-bottom: 40px;
    }

    &:hover {
      .card-front {
        top: 45px;
      }
      .card-back {
        background-color: $brand-01;
        border-color: $brand-01;
      }
    }
  }

  // 卡片背面
  .card-back {
    @include card-common;
    border: 1px solid transparent;
    background-color: transparent;
    z-index: 1;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: background-color $transition-time ease, border-color $transition-time ease;

    @include mobile {
      display: none;
      position: static;
    }
  }

  // 卡片正面
  .card-front {
    @include card-common;
    background: linear-gradient(#f1eaff, #f1eaff) padding-box,
      linear-gradient(123.12deg, $brand-01, rgba(241, 234, 255, 0.1)) border-box;
    transition: top $transition-time ease;
    z-index: 2;
    border: 1px solid transparent;
    padding: 24px;
    backdrop-filter: blur(20px);

    @include mobile {
      position: static;
    }

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      line-height: 1.5;
    }

    p {
      margin: 0;
      font-size: 16px;
      color: #666;
      line-height: 1.5em;
      max-height: 3em; /* 1.5em * 2行 */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  // 類別標籤
  .category {
    font-weight: bold;
    color: white;
    font-size: 14px;
  }

  // 回應數量
  .response-count {
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;

    &-icon {
      width: 16px;
      height: 16px;
    }
  }

  // 卡片內容
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // 卡片標題
  .card-title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  // 勾選標記
  .checkmark {
    width: 24px;
    height: 24px;
    background-color: $brand-03;
    border-radius: 50%;
    @include flex-center;
    color: white;
    font-size: 14px;
  }

  // 時間軸
  .timeline-container {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    // height: 25px;
    pointer-events: none;
  }

  .timeline-point {
    position: absolute;
    // top: 0;
    bottom: 0;
    // transform: translateX(-50%);
    color: $brand-03;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    @include mobile {
      position: static;
      // left: 0;
      width: 100%;
      // top: -70px;
      height: 40px;
      padding: 0;
      transform: none;
      // z-index: 999;
      margin-bottom: 40px;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        // bottom: -8px;
        height: 8px;
        background-color: $brand-01;
      }
    }

    .date {
      @include mobile {
        padding: 8px 16px;
        border-radius: 12px 12px 0px 0px;
        background: $brand-01;
        color: $gray-01;
        font-size: 20px;
        line-height: 1.2;
      }
    }
    .time {
      @include mobile {
        padding: 8px 16px;
        color: $brand-03;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  // 滾動按鈕
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    @include flex-center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }

  // 響應式設計
  @include pad {
    .scroll-button {
      display: none; // 在小螢幕上隱藏滾動按鈕
    }
  }
}

// 學習需求區塊
.footer-learning-needs {
  background-image: url('../images/deco/bg-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;

  @include mobile-sm {
    background-image: url('../images/deco/bg-sm-3.png');
  }

  // 橫幅樣式
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    .banner-text {
      .title {
        color: $gray-01;
        margin-bottom: 10px;
        @include pad {
          font-size: 24px;
          font-weight: 700;
        }
      }

      .subtitle {
        font-size: 28px;
        color: $gray-01;
        @include pad {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .add-button {
      @include flex-center;
      width: 72px;
      height: 72px;
      background-color: $brand-02;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      @include pad {
        width: 44px;
        height: 44px;
      }

      .add-icon {
        font-size: 40px;
        color: $brand-01;
      }

      &:hover {
        background-color: darken($brand-02, 5%);
      }
    }
  }

  // 切換按鈕樣式
  .footer-toggle {
    display: none; // 預設隱藏
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1000;
    background-color: $brand-02;
    color: $brand-01;
    border: none;
    width: 40px;
    height: 10px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: darken($brand-02, 10%);
    }

    .material-symbols-outlined {
      font-size: 24px;
      transition: transform 0.3s;
    }
  }

  // 響應式設計
  @include pad {
    .banner {
      padding: 20px 0;

      // .banner-text {
      //   display: none;
      // }
    }

    .footer-toggle {
      display: flex; // 在手機版顯示
    }
  }

  // Footer 隱藏時的樣式
  body.footer-hidden & {
    @include pad {
      transform: translateY(100%);

      // .footer-toggle {
      //   transform: translate(-50%, -100%) rotate(180deg);
      // }
    }
  }
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .time-line {
    @include mobile {
      display: none;
    }
  }
}

.custom-modal {
  .modal-dialog {
    // max-width: 95%;
    height: 100vh;
    margin: auto;
    // margin: 2.5vh auto;
  }

  .modal-content {
    height: 100%;
  }

  .modal-body {
    padding: 0;
    overflow-y: auto;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
  }

  .fixed-bottom-form {
    background-color: white;
    padding: 15px;
    border-top: 1px solid #dee2e6;
    border-bottom-left-radius: 12px;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 90%;
    }

    .modal-body {
      overflow-y: hidden;
    }

    .content-wrapper {
      flex-direction: row;
      overflow: hidden;
    }

    .left-column,
    .right-column {
      height: 100%;
      overflow-y: auto;
    }

    .left-column {
      border-right: 1px solid #dee2e6;
    }

    .fixed-bottom-form {
      position: sticky;
      bottom: 0;
    }
  }

  .scrollable-content,
  .left-column,
  .right-column {
    // 針對 Webkit 瀏覽器（Chrome、Safari 等）
    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 0px;
    }

    // 針對 Firefox
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
}
