/* index-banner-section */
.index-banner-section {
  background-image: url('/assets/images/deco/bg-1.png');
  margin-top: -80px;
  padding-top: 160px;

  @include xl-pc {
    background-image: url('/assets/images/deco/bg-sm-1.png');
    padding-top: 112px;
  }

  .title {
    font-size: 64px;
    font-weight: 900;

    @include xl-pc {
      font-size: 32px;
      font-weight: 700;
      margin-top: 24px;
    }
  }

  .swiper-slide {
    @include xl-pc{
      text-align: center;
    }
  }

  .banner-illustration {
    @include mobile {
      width: 100%;
    }
  }
}

/* index-course-section */
.index-course-section {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: url('/assets/images/deco/unsplash.png') no-repeat center/cover;
    opacity: 0.3;
    z-index: -1;

    @include lg-pc {
      background-image: url('/assets/images/deco/unsplash-sm.png');
    }
  }
}
.course-card-wrap {
  @include pad {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 0;
    }
  }
}