// 全局預設鼠標樣式 mouse-default
.video-details {
  cursor: default;
}

// 鼠標 - 預設樣式
.mouse-default-style {
  cursor: default;
}

// 鼠標 - 可點擊樣式
.mouse-pointer-style {
  cursor: pointer;
}


.video-show {
  max-width: 100%;
}

.video-title {
  line-height: 1.2;
}

.data-view-count,
.data-rating-score {
  color: $brand-03;
}

.view-count,
.rating-score {
  color: $brand-01 !important;
}

.favorite-button,
.review-button {
  color: $brand-01 !important;

  &:hover {
    background-color: transparent;
    // font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}

.favorite-font,
.review-font {
  color: $gray-01;
  line-height: 1.5;
}

.tag-label {
  background-color: $brand-02;

  &:hover>h6 {
    color: $brand-02;
  }

  h6 {
    color: $brand-03;
    font-weight: 500;
    line-height: 1.2;
  }
}

.author-content {
  .author-image {
    width: 48px;
  }

  .author-name {
    font-weight: 500;
    line-height: 1.2;
    color: $gray-01;
  }

  .author-info {
    font-weight: 400;
    line-height: 1.2;
    color: $gray-02;
  }
}

// 影片簡介及留言討論區
.video-details {
  .nav-tabs {
    border-bottom: 1px solid $gray-03;

    .video-description,
    .video-comments {
      font-weight: 500;
      line-height: 1.2;
      padding: 12px 24px;
      color: $brand-03;
    }

    .video-comments {
      color: $gray-03;
    }
  }

  .tab-content {
    .video-description-item {
      list-style-type: decimal;
    }

    .user-comment-picture {
      display: block;
      height: 40px;
      border-radius: 88px;
    }

    .user-comment {
      border: none;
      outline: none;
      border-bottom: 1px solid $gray-03;

      &::placeholder {
        color: $gray-03;
      }
    }
  }
}

// 影片留言討論區
.history-commemts {

  .user-content {
    .user-image {
      height: 40px;
      border-radius: 88px;
    }

    .user-name {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      color: $gray-01;
    }

    .comment-time {
      font-weight: 400;
      line-height: 1.2;
      color: $gray-03;
    }

    .delete-comment,
    .reply-comment {
      color: $gray-01;
      background-color: #f1eaff;
      line-height: 1.5;
    }
  }

  .reply {
    .accordion-button {
      color: $brand-03;

      &:hover {
        background-color: $brand-02;
      }

      &:not(.collapsed) {
        background-color: unset;
        box-shadow: none
      }

      &::after {
        margin-left: 4px;
        color: $brand-03;
      }
    }

    .accordion-collapse {
      background-color: $gray-04;
      background: rgba(248, 248, 248, 1);

      .teacher-content {
        .teacher-image {
          height: 40px;
          border-radius: 88px;
        }

        .teacher-name {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.2;
          color: $gray-01;
        }

        .comment-time {
          font-weight: 400;
          line-height: 1.2;
          color: $gray-03;
        }

        .delete-comment,
        .reply-comment {
          color: $gray-01;
          line-height: 1.5;
        }
      }
    }
  }
}

.aside-border {
  border: 2px solid $brand-02;
}

// 章節影片標頭
.chapter-video {
  padding: 34px 0 12px 0;
  backdrop-filter: blur(20px);

  .chapter-video-title {
    font-weight: 500;
    color: $gray-01;
  }

  .show-more-button {
    font-weight: 500;
    color: $brand-03;
  }
}

// 章節影片清單設定
.chapter-list {
  .player-icon {
    color: $brand-01;
  }

  .chapter-item:not(:last-child) {
    border-bottom: 2px solid #F1EAFF
  }

  .chapter-contents {
    color: $gray-02;
    line-height: 1.2;
  }

  .video-duration {
    color: $gray-04;
    line-height: 1.2;
    background-color: hsl(0, 0%, 12%, 30%);
  }

  .chapter-item-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; // 限制顯示的行數
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $gray-01;
    min-height: 39px;
    font-weight: 500;
  }

  .eyes-icon {
    color: $brand-01;
  }

  .chapter-view-count {
    color: $brand-03;
    line-height: 1.2;
  }
}

// 講師其他影片清單標頭
.other-videos {
  padding: 34px 0 12px 0;
  backdrop-filter: blur(20px);

  .teacher-other-video {
    font-weight: 500;
    color: $gray-01;
  }

  .show-more-button {
    font-weight: 500;
    color: $brand-03;
  }
}

// 講師其他影片清單設定
.other-videos-list {
  .other-video-image {
    max-width: 136px;
  }

  .other-video-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; // 限制顯示的行數
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    color: $gray-01;
  }

  .other-video-duration {
    right: 16px;
    bottom: 0;
    color: $gray-04;
    line-height: 1.2;
    background-color: #1e1e1e4d;
  }
}

// 相關影片清單標頭
.related-videos {
  padding: 34px 0 12px 0;
  backdrop-filter: blur(20px);

  .teacher-related-video {
    font-weight: 500;
    color: $gray-01;
  }

  .show-more-button {
    font-weight: 500;
    color: $brand-03;
  }
}

// 相關影片清單設定
.related-videos-list {
  .related-video-image {
    max-width: 136px;
  }

  .related-video-duration {
    right: 16px;
    bottom: 0;
    color: $gray-04;
    line-height: 1.2;
    background-color: #1e1e1e4d;
  }

  .related-video-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; // 限制顯示的行數
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    color: $gray-01;
  }

  .author-icon {
    color: $brand-01;
  }

}
