/*
fs-1	40px
fs-2	32px
fs-3	28px
fs-4	24px
fs-5	20px
fs-6	16px
fs-7	14px
fs-8	12px

  *-1	4px
  *-2	8px
  *-3	12px
  *-4	16px
  *-5	20px
  *-6	24px
  *-7	28px
  *-8	32px
  *-9	36px
  *-10	40px
  *-11	48px
  *-12	64px
  *-13	80px
*/

.material-symbols-outlined.eyes-icon {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

// section
.video-details {
  .video-title {
    line-height: 1.2;
  }

  .video-show {
    max-width: 100%;
  }
}

.data-view-count,
.data-rating-score {
  color: $brand-03;
}

.view-count,
.rating-score {
  color: $brand-01;
}

.favorite-button {
  color: $gray-01;
}

.review-button {
  background-color: $brand-02;
  color: $brand-03;
}

.tag-label {
  background-color: $brand-02;
  margin-right: 12px;

  h6 {
    color: $brand-03;
    font-weight: 500;
    line-height: 1.2;
  }
}

.author-content {
  .author-image {
    width: 48px;
  }

  .author-name {
    font-weight: 500;
    line-height: 1.2;
    color: $gray-01;
  }

  .author-info {
    font-weight: 400;
    line-height: 1.2;
    font-size: 14px;
    color: $gray-02;
  }
}

.nav-tabs {
  border-bottom: 1px solid $gray-03;

  .video-description,
  .video-comments {
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 24px;
    color: $brand-03;
  }

  .video-description {
    border-bottom: 1px solid $brand-03;
  }

  .video-comments {
    color: $gray-03;
  }
}

// aside
.aside-border {
  border: 2px solid $brand-02;
}

.chapter-video {
  padding: 34px 24px 22px;


  .chapter-video-title {
    font-weight: 500;
    color: $gray-01;
  }

  .show-more-button {
    font-weight: 500;
    color: $brand-03;
  }
}
