<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <header class="index-banner-section bg wrap-lg">
      <div class="swiper banner-swiper position-relative pb-11 pb-xl-6">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container-lg">
              <div class="row f-center flex-column-reverse flex-xl-row">
                <div class="col-xl-8 f-column-align-center d-xl-block">
                  <h1 class="title">
                    程式學習，量身訂做
                  </h1>
                  <p class="fs-4 fs-xl-3 mt-4 mt-xl-6">
                    打破一成不變舊課綱，想學什麼？讓我們為您客製化
                  </p>
                  <button
                    class="btn btn-brand-03 slide-right-hover f-align-center mt-6 mt-xl-10">
                    立即提需求
                    <span class="material-symbols-outlined icon-fill fs-5 ms-1">
                      arrow_forward
                    </span>
                  </button>
                </div>
                <div class="col-xl-4">
                  <img
                    src="../assets/images/deco/Illustration-1.png"
                    alt="banner-illustration-1"
                    class="banner-illustration">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container-lg">
              <div class="row f-center flex-column-reverse flex-xl-row">
                <div class="col-xl-8 f-column-align-center d-xl-block">
                  <h1 class="title">
                    一對一教學，</br>
                    專屬於您的上課時間
                  </h1>
                  <p class="fs-4 fs-xl-3 mt-4 mt-xl-6">
                    不怕問題在人海中埋沒，讓老師專為您一人解惑
                  </p>
                  <button
                    class="btn btn-brand-03 slide-right-hover f-align-center mt-6 mt-xl-10">
                    立即預約
                    <span class="material-symbols-outlined icon-fill fs-5 ms-1">
                      arrow_forward
                    </span>
                  </button>
                </div>
                <div class="col-xl-4">
                  <img
                    src="../assets/images/deco/Illustration-2.png"
                    alt="banner-illustration-1"
                    class="banner-illustration">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container-lg">
              <div class="row f-center flex-column-reverse flex-xl-row">
                <div class="col-xl-8 f-column-align-center d-xl-block">
                  <h1 class="title">
                    程式學習，量身訂做
                  </h1>
                  <p class="fs-4 fs-xl-3 mt-4 mt-xl-6">
                    打破一成不變舊課綱，想學什麼？讓我們為您客製化
                  </p>
                  <button
                    class="btn btn-brand-03 slide-right-hover f-align-center mt-6 mt-xl-10">
                    立即提需求
                    <span class="material-symbols-outlined icon-fill fs-5 ms-1">
                      arrow_forward
                    </span>
                  </button>
                </div>
                <div class="col-xl-4">
                  <img
                    src="../assets/images/deco/Illustration-1.png"
                    alt="banner-illustration-1"
                    class="banner-illustration">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-brand-01"></div>
      </div>
    </header>
    <section class="index-course-section bg wrap-lg">
      <div class="container">
        <div class="f-center">
          <picture>
            <source
              srcset="../assets/images/icon/icon-infinite-sm.svg"
              media="(max-width: 575.98px)">
            <img
              src="../assets/images/icon/icon-infinite.svg"
              alt="icon-infinite">
          </picture>
          <h2 class="fs-4 fs-lg-1 text-brand-03 ms-3 ms-lg-4">
            精選課程
          </h2>
          <picture>
            <source
              srcset="../assets/images/icon/icon-infinite-sm.svg"
              media="(max-width: 575.98px)">
            <img
            src="../assets/images/icon/icon-infinite.svg"
            alt="icon-infinite" class="ms-3 ms-lg-4">
          </picture>
        </div>
        <div class="row course-card-wrap mt-6 mt-lg-8 g-6">
          <div class="col-md-6 col-xl-4">
            <a href="#" class="course-card card-column">
              <div class="card gradient-border p-lg-6 p-4 h-100">
                <div class="overflow-hidden img-hover-enlarge rounded">
                  <img
                    src="../assets/images/course/course-1.png"
                    class="card-img-top rounded"
                    alt="course-image">
                </div>
                <div class="card-body p-0 mt-3 mt-lg-4 f-column-between">
                  <h3 class="card-title fs-6 fs-lg-5">Python 基礎入門</h3>
                  <div class="f-between-center mt-1 mt-lg-2">
                    <p class="card-text fs-7 fs-lg-6">Anna Wu</p>
                    <p class="f-center text-brand-03 fs-7 fs-lg-6">
                      <span class="material-symbols-outlined icon-fill text-brand-01 fs-6 fs-lg-5 me-1">
                        kid_star
                      </span>
                      4.0
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="f-center">
          <button
            class="btn btn-outline-brand-03 slide-right-hover f-align-center mt-6 mt-lg-8">
            了解更多
            <span class="material-symbols-outlined icon-fill fs-5 ms-1">
              arrow_forward
            </span>
          </button>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".banner-swiper", {
        slidesPerView: 1,
        spaceBetween: 240,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>
