<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="icon" type="image/x-icon" href="../assets/images/icon/icon-infinite.svg" />
    <title>Coding∞bit ｜ 可預約老師</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="tutor-list">
      <!-- hero-section -->
      <section class="hero-section">
        <div class="container">
          <div class="d-flex justify-content-md-around align-items-md-center">
            <div>
              <div class="question-text-wrapper">
                <h2 class="fs-1 mb-2 question-text text-brand-03"></h2>
              </div>
              <h2 class="fs-md-1 fs-2 mb-12">找專業講師來場一對一課程</h2>
              <a href="#tutor-list" class="w-50 fs-5 btn btn-brand-03 d-flex justify-content-center slide-down-hover mb-5">
                我要找講師 <span class="material-symbols-outlined"> keyboard_arrow_down </span>
              </a>
              <div class="d-flex align-items-center">
                <img src="../assets/images/user/user-1.png" alt="tutor" class="object-cover-fit profile" />
                <img src="../assets/images/user/user-5.png" alt="tutor" class="object-cover-fit profile" />
                <img src="../assets/images/user/user-6.png" alt="tutor" class="object-cover-fit profile" />
                <img src="../assets/images/user/user-7.png" alt="tutor" class="object-cover-fit profile" />
                <img src="../assets/images/user/user-10.png" alt="tutor" class="object-cover-fit profile" />
                <img src="../assets/images/user/user-8.png" alt="tutor" class="object-cover-fit profile" />
                <img src="../assets/images/user/user-9.png" alt="tutor" class="object-cover-fit profile" />
                <p class="profile">100+</p>
              </div>
            </div>
            <img src="../assets/images/deco/star3D.png" class="star-deco" alt="star-deco" />
          </div>
        </div>
      </section>
      <!-- service introduction -->
      <section class="service-intro" style="overflow: hidden">
        <div class="container">
          <!-- title -->
          <div class="f-center flex-column">
            <%- include('./layout/title-brand-03', { title: '什麼是一對一教學&程式碼檢視服務？ ', title2: '', longTitle: true }) %>
            <p class="mt-5 mb-11 description">只要您訂閱成為基本會員，即可購買專業講師一對一課程或是程式碼檢視服務。</p>
          </div>
          <div class="row justify-content-around">
            <div class="col-lg-6 col-md-8">
              <!-- description -->
              <div>
                <div class="mb-8 f-center" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="800" data-aos-offset="200">
                  <p class="tag bg-brand-03 text-white fs-7 text-nowrap me-3">一對一課程</p>
                  <span class="material-symbols-outlined me-3"> chevron_right </span>
                  <p>不怕問題被淹沒在人海之中，只要預約，就可以在線上接受指定老師的單獨教學。</p>
                </div>
                <div
                  class="mb-8 f-center"
                  data-aos="fade-right"
                  data-aos-easing="linear"
                  data-aos-duration="800"
                  data-aos-delay="300"
                  data-aos-offset="200">
                  <p class="tag bg-brand-03 text-white fs-7 text-nowrap me-3">程式碼檢視</p>
                  <span class="material-symbols-outlined me-3"> chevron_right </span>
                  <p class="">預約時提交想接受指導的程式碼，講師將會於預約時間回覆指導，再也不怕code沒有人批改。</p>
                </div>
              </div>

              <a
                href="subscription-info-normal.html"
                class="underline-hover text-brand-03 cta"
                data-aos="fade-right"
                data-aos-easing="linear"
                data-aos-duration="1000"
                data-aos-delay="800"
                >還沒有訂閱嗎？點我前往訂閱</a
              >
            </div>
            <!-- image-->
            <div class="col-4">
              <img src="../assets/images/deco/Illustration-9.png" alt="illustration" class="deco-img" />
            </div>
          </div>
        </div>
      </section>
      <!-- Category -->
      <section class="category bg-gray-04 wrap">
        <div class="container">
          <%- include('./layout/title-brand-03', { title: '不知道要選哪位講師？先從分類開始選起', title2: '', longTitle: false }) %>
          <div class="category-list">
            <span class="material-symbols-outlined bg-brand-02 p-2 rounded-circle me-2 mb-4 arrow"> chevron_left </span>
            <a href="#" class="btn btn-brand-03 me-2 mb-4 border border-3 border-brand-03">全部</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">HTML & CSS</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">JavaScript</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">WordPress</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">Python</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">Vue</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">React</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">C++</a>
            <a href="#" class="btn btn-outline-brand-03 me-2 mb-4">Bootstrap</a>
            <span class="material-symbols-outlined p-2 rounded-circle bg-brand-02 mb-4 arrow"> chevron_right </span>
          </div>
        </div>
      </section>

      <section id="tutor-list" class="wrap">
        <div class="container">
          <%- include('./layout/title-brand-03', { title: '尋找喜歡的講師', title2: '', longTitle: false }) %>
          <div class="mt-8">
            <div class="control-group">
              <div class="position-relative f-align-center d-flex me-2">
                <input type="search" class="form-control nav-search-desktop border border-brand-03 border-3" placeholder="搜尋講師" />
                <span class="material-symbols-outlined text-gray-03 position-absolute ps-4" style="width: 20px; height: 20px"> search </span>
              </div>

              <div class="sort">
                <button type="button" class="btn btn-outline-brand-03 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  排序方式
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="my-8">
            <ul>
              <ul class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-4">
                <%- include('./layout/tutor-card', {image:"course-2", isFavorite:true, tutorProfile:"user-1.png",name:" 卡斯伯 Casper",
                title:"10年經驗的前端工程師", score:"4.9", price:250, tags:[{name:"HTML/CSS"}, {name: "React"},{name: "網頁動畫"}]}); -%>

                <!-- tutor2 -->
                <%- include('./layout/tutor-card', {image:"course-5", isFavorite:false, tutorProfile:"user-6.png", name:"米克老師",
                title:"喜歡寫code的前端工程師", score:"3.4", price:100, tags:[{name:"製作 RWD 網站"}, {name: "Bootstrap"}]}); -%>
                <!-- tutor3 -->
                <%- include('./layout/tutor-card', {image:"course-8", isFavorite:false, tutorProfile:"user-7.png", name:"Pong Pong",
                title:"台大資訊訓練班首席老師", score:"4.3", price:530, tags:[{name:"Node.js"}, {name: "MongoDB"},{name: "Python 數據分析"},{name:
                "Python Flask 網站後端開發"}]}); -%>
                <!-- tutor4 -->
                <%- include('./layout/tutor-card', {image:"course-3", isFavorite:true, tutorProfile:"user-10.png",name:"Alan Lee",
                title:"熱愛遊戲的熱血青年", score:"4.3", price:250, tags:[{name:"Unity"}, {name: "2D遊戲製作"},{name: "C# 腳本撰寫"} ]}); -%>
                <!-- tutor1 -->
                <%- include('./layout/tutor-card', {image:"course-1", isFavorite:true, tutorProfile:"user-5.png",name:"平凡老師 - 李東霖",
                title:"WordPress 工程師", score:"4.9", price:250, tags:[{name:"WordPress 網站架設"}, {name: "WordPress客製化佈景主題"}]}); -%>
                <!-- tutor2 -->
                <%- include('./layout/tutor-card', {image:"course-5", isFavorite:false, tutorProfile:"user-6.png", name:"米克老師",
                title:"喜歡寫code的前端工程師", score:"3.4", price:100, tags:[{name:"製作 RWD 網站"}, {name: "Bootstrap"}]}); -%>
                <!-- tutor3 -->
                <%- include('./layout/tutor-card', {image:"course-8", isFavorite:false, tutorProfile:"user-7.png", name:"Pong Pong",
                title:"台大資訊訓練班首席老師", score:"4.3", price:530, tags:[{name:"Node.js"}, {name: "MongoDB"},{name: "Python 數據分析"},{name:
                "Python Flask 網站後端開發"}]}); -%>
                <!-- tutor4 -->
                <%- include('./layout/tutor-card', {image:"course-3", isFavorite:true, tutorProfile:"user-10.png",name:"Alan Lee",
                title:"熱愛遊戲的熱血青年", score:"4.3", price:250, tags:[{name:"Unity"}, {name: "2D遊戲製作"},{name: "C# 腳本撰寫"} ]}); -%>
                <!-- tutor1 -->
                <%- include('./layout/tutor-card', {image:"course-1", isFavorite:true, tutorProfile:"user-5.png",name:"平凡老師 - 李東霖",
                title:"WordPress 工程師", score:"4.9", price:250, tags:[{name:"WordPress 網站架設"}, {name: "WordPress客製化佈景主題"}]}); -%>
                <!-- tutor2 -->
                <%- include('./layout/tutor-card', {image:"course-5", isFavorite:false, tutorProfile:"user-6.png", name:"米克老師",
                title:"喜歡寫code的前端工程師", score:"3.4", price:100, tags:[{name:"製作 RWD 網站"}, {name: "Bootstrap"}]}); -%>
                <!-- tutor3 -->
                <%- include('./layout/tutor-card', {image:"course-8", isFavorite:false, tutorProfile:"user-7.png", name:"Pong Pong",
                title:"台大資訊訓練班首席老師", score:"4.3", price:530, tags:[{name:"Node.js"}, {name: "MongoDB"},{name: "Python 數據分析"},{name:
                "Python Flask 網站後端開發"}]}); -%>
                <!-- tutor4 -->
                <%- include('./layout/tutor-card', {image:"course-3", isFavorite:true, tutorProfile:"user-10.png",name:"Alan Lee",
                title:"熱愛遊戲的熱血青年", score:"4.3", price:250, tags:[{name:"Unity"}, {name: "2D遊戲製作"},{name: "C# 腳本撰寫"} ]}); -%>
              </ul>
            </ul>
          </div>

          <nav aria-label="navigation">
            <ul class="pagination f-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true"><span class="material-symbols-outlined align-middle"> arrow_left </span></span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true"><span class="material-symbols-outlined align-middle"> arrow_right </span></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/add-to-favorite.js"></script>
    <script type="module" src="../assets/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const questionText = document.querySelector(".question-text");
      const textLoad = () => {
        setTimeout(() => {
          questionText.textContent = "程式卡關？";
        }, 0);

        setTimeout(() => {
          questionText.textContent = "程式冗長？";
        }, 3000);
      };

      textLoad();
      setInterval(textLoad, 6000);
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
