<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" type="image/x-icon" href="../assets/images/icon/icon-infinite.svg" />
    <title>卡斯柏 ｜ 預約老師</title>
  </head>
  <body>
    <%- include('./layout/loader'); -%> <%- include('./layout/header'); -%>

    <div class="tutor-booking">
      <!-- Mobile Top Cover -->
      <div class="position-relative d-lg-none">
        <div class="img-wrapper img-hover-enlarge">
          <img src="../assets/images/course/course-2-high-res.jpg" class="w-100" alt="tutor cover" style="max-height: 300px" />
        </div>

        <span class="material-symbols-outlined icon-fill text-white position-absolute top-50 start-50 translate-middle" style="font-size: 56px">
          play_circle
        </span>

        <span
          class="favorite material-symbols-outlined icon-fill p-2 rounded-circle align-middle"
          role="button"
          style="background-color: #1e1e1e66"
          data-favorite="true">
          favorite
        </span>
      </div>
      <!-- Main Content -->
      <main class="container py-lg-13 py-7">
        <div class="row">
          <!-- tutor information -->
          <div class="col-lg-8">
            <!-- section 1 - overview -->
            <section class="section">
              <!-- tutor profile -->
              <div class="tutor-profile section-component">
                <div class="flex-shrink-0">
                  <img src="../assets/images/user/user-1.png" alt="profile" class="object-fit-cover rounded-circle me-6" />
                </div>
                <div class="flex-grow-1">
                  <h2 class="mb-2 fs-lg-2 fs-4">卡斯伯 Casper</h2>
                  <p class="fs-lg-5 fs-6 text-gray-02">10年經驗的前端工程師</p>
                </div>
              </div>
              <!-- tag list-->
              <div class="list-x-scroll py-2 section-component">
                <a href="#" class="tag tag-brand-02 fs-8 me-3">HTML/CSS</a>
                <a href="#" class="tag tag-brand-02 fs-8 me-3">React</a>
                <a href="#" class="tag tag-brand-02 fs-8">網頁動畫</a>
              </div>
              <!-- tab -->
              <div class="section-component">
                <ul class="nav nav-tabs mb-6 list-x-scroll flex-nowrap" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="about-me-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#about-me-tab-pane"
                      type="button"
                      role="tab"
                      aria-controls="about-me-tab-pane"
                      aria-selected="true">
                      關於我
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="teaching-styles-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#teaching-styles-tab-pane"
                      type="button"
                      role="tab"
                      aria-controls="teaching-styles-tab-pane"
                      aria-selected="false">
                      我的教學風格
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="resume-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#resume-tab-pane"
                      type="button"
                      role="tab"
                      aria-controls="resume-tab-pane"
                      aria-selected="false">
                      我的履歷
                    </button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="about-me-tab-pane" role="tabpanel" aria-labelledby="about-me-tab" tabindex="0">
                    <p class="tab-details text-hide">
                      我的專業領域涵蓋了HTML、CSS、JavaScript以及各種前端框架如React。<br /><br />
                      在過去的職業生涯中，我參與並領導了多個大型項目，從初期的需求分析到最終的產品交付，均取得了顯著的成果。我擅長解決複雜的技術挑戰，並且對於提升網站效能和優化用戶體驗有著深刻的理解。
                      <br /><br />
                      老師從文組專職到前端工程師，所以非常明白同學在學習前端的時候的困難。我曾經教導過百位學生，大家均表示教學清晰容易明白。如果你對前端開發有興趣，或者在學習過程中遇到了困難，歡迎預約我的1對1諮詢。我期待能夠與你分享我的經驗，並幫助你在前端開發的道路上取得更大的進步。
                    </p>
                    <div class="d-flex align-items-center py-3 show-more" role="button">
                      <p class="text-brand-03">更多</p>
                      <span class="material-symbols-outlined icon-fill text-brand-03 align-middle"> stat_minus_1 </span>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="teaching-styles-tab-pane" role="tabpanel" aria-labelledby="teaching-styles-tab" tabindex="0">
                    ...
                  </div>
                  <div class="tab-pane fade" id="resume-tab-pane" role="tabpanel" aria-labelledby="resume-tab" tabindex="0">...</div>
                  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
                </div>
              </div>
              <!-- statistics -->
              <div class="row row-cols-2 row-cols-lg-5 g-3">
                <%- include('./layout/tutor-stat-overview-card',{title: "學生", details: "200"}); -%> <%-
                include('./layout/tutor-stat-overview-card',{title: "課堂", details: "250"}); -%> <%-
                include('./layout/tutor-stat-overview-card',{title: "影片", details: "10"}); -%> <%-
                include('./layout/tutor-stat-overview-card',{title: "出席率", details: "100%"}); -%> <%-
                include('./layout/tutor-stat-overview-card',{title: "回覆率", details: "100%"}); -%>
              </div>
            </section>
            <!-- section 2 - timetable -->
            <section class="section schedule">
              <div class="section-component f-between-center">
                <h4>時間表</h4>
                <a href="#" class="text-brand-03 d-flex slide-right-hover" data-show="false">
                  <p>更多</p>
                  <span class="material-symbols-outlined icon-fill">arrow_forward</span>
                </a>
              </div>
              <div class="f-between-center mb-5">
                <span class="prev material-symbols-outlined icon-fill bg-brand-02 text-brand-01 rounded-circle p-2 align-middle">arrow_back</span>
                <h5 class="text-brand-03 week" style="font-weight: 500">2024/08/01 - 2024/08/07</h5>
                <span class="next material-symbols-outlined icon-fill bg-brand-02 text-brand-01 rounded-circle p-2 align-middle">arrow_forward</span>
              </div>

              <div>
                <div class="row row-cols-7 available-date-time g-0">
                  <div class="col">
                    <div class="date f-center flex-column">
                      <h6>星期四</h6>
                      <p>08/01</p>
                    </div>

                    <div>
                      <ul class="times f-center flex-column">
                        <li class="time disabled">08:00</li>
                        <li class="time">09:00</li>
                        <li class="time disabled">10:00</li>
                        <li class="time">11:00</li>
                        <li class="time">12:00</li>
                        <li class="time">13:00</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="date f-center flex-column">
                      <h6>星期五</h6>
                      <p>08/02</p>
                    </div>

                    <div>
                      <ul class="times f-center flex-column">
                        <li class="time">16:00</li>
                        <li class="time">17:00</li>
                        <li class="time">18:00</li>
                        <li class="time">19:00</li>
                        <li class="time disabled">20:00</li>
                        <li class="time">21:00</li>
                        <li class="time">22:00</li>
                        <li class="time disabled">23:00</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="date f-center flex-column">
                      <h6>星期六</h6>
                      <p>08/02</p>
                    </div>

                    <div>
                      <ul class="times f-center flex-column">
                        <li class="time">10:00</li>
                        <li class="time">11:00</li>
                        <li class="time disabled">12:00</li>
                        <li class="time">13:00</li>
                        <li class="time disabled">14:00</li>
                        <li class="time">17:00</li>
                        <li class="time">18:00</li>
                        <li class="time disabled">19:00</li>
                        <li class="time disabled">20:00</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="date f-center flex-column disabled">
                      <h6>星期日</h6>
                      <p>08/04</p>
                    </div>

                    <div>
                      <ul class="times f-center flex-column"></ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="date f-center flex-column">
                      <h6>星期一</h6>
                      <p>08/05</p>
                    </div>

                    <div>
                      <ul class="times f-center flex-column">
                        <li class="time">13:00</li>
                        <li class="time disabled">14:00</li>
                        <li class="time">17:00</li>
                        <li class="time">18:00</li>
                        <li class="time">19:00</li>
                        <li class="time">20:00</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="date f-center flex-column">
                      <h6>星期二</h6>
                      <p>08/06</p>
                    </div>

                    <div>
                      <ul class="times f-center flex-column">
                        <li class="time">13:00</li>
                        <li class="time">14:00</li>
                        <li class="time">17:00</li>
                        <li class="time">18:00</li>
                        <li class="time">19:00</li>
                        <li class="time">20:00</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="date f-center flex-column">
                      <h6>星期三</h6>
                      <p>08/07</p>
                    </div>

                    <div>
                      <ul class="times f-center flex-column">
                        <li class="time">08:00</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div></div>
            </section>
            <!-- section 3 - student comment -->
            <section class="section student-comment">
              <div class="section-component f-between-center">
                <h4>學生評價</h4>
                <a href="#" class="text-brand-03 d-flex slide-right-hover">
                  <p>更多</p>
                  <span class="material-symbols-outlined icon-fill">arrow_forward</span>
                </a>
              </div>

              <div class="row row-cols-lg-2 row-cols-1 g-lg-4 g-2">
                <div class="col">
                  <div class="card p-4">
                    <div class="row justify-content-center">
                      <div class="col-lg-5 f-center flex-column">
                        <h4 class="text-brand-03 mb-2">4.9</h4>
                        <div class="f-center mb-2">
                          <img src="../assets/images/icon/kid_star.svg" class="text-brand-01" alt="" width="16" height="16" />
                          <img src="../assets/images/icon/kid_star.svg" alt="" width="16" height="16" />
                          <img src="../assets/images/icon/kid_star.svg" alt="" width="16" height="16" />
                          <img src="../assets/images/icon/kid_star.svg" alt="" width="16" height="16" />
                          <img src="../assets/images/icon/kid_star_half_purple.svg" alt="" width="16" height="16" />
                        </div>
                        <p class="fs-7">111則評論</p>
                      </div>
                      <div class="col-lg-7">
                        <ol class="ps-0 mb-0">
                          <!-- 5星 -->
                          <li class="f-between-center">
                            <p class="fs-7 me-3">5 星</p>
                            <div
                              class="progress flex-grow-1"
                              style="height: 8px"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="0"
                              aria-valuemin="0"
                              aria-valuemax="100">
                              <div class="progress-bar" style="width: 85%"></div>
                            </div>
                            <p class="class=fs-7 text-gray-03">108</p>
                          </li>
                          <!-- 4星 -->
                          <li class="f-between-center">
                            <p class="fs-7 me-3">4 星</p>
                            <div
                              class="progress flex-grow-1"
                              style="height: 8px"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="0"
                              aria-valuemin="0"
                              aria-valuemax="100">
                              <div class="progress-bar" style="width: 15%"></div>
                            </div>
                            <p class="class=fs-7 text-gray-03">3</p>
                          </li>
                          <!-- 3星 -->
                          <li class="f-between-center">
                            <p class="fs-7 me-3">3 星</p>
                            <div
                              class="progress flex-grow-1"
                              style="height: 8px"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="0"
                              aria-valuemin="0"
                              aria-valuemax="100">
                              <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            <p class="class=fs-7 text-gray-03">0</p>
                          </li>
                          <!-- 2星 -->
                          <li class="f-between-center">
                            <p class="fs-7 me-3">2 星</p>
                            <div
                              class="progress flex-grow-1"
                              style="height: 8px"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="0"
                              aria-valuemin="0"
                              aria-valuemax="100">
                              <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            <p class="class=fs-7 text-gray-03">0</p>
                          </li>
                          <!-- 1星 -->
                          <li class="f-between-center">
                            <p class="fs-7 me-3">1 星</p>
                            <div
                              class="progress flex-grow-1"
                              style="height: 8px"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="0"
                              aria-valuemin="0"
                              aria-valuemax="100">
                              <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            <p class="class=fs-7 text-gray-03">0</p>
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 1st Comment -->
                <%- include('./layout/student-comment-card.ejs',{profile:"user-2",
                name:"阮永庭",commentDetails:"找了老師檢視我的程式碼，我才發現我的code原來可以更簡潔。老師有問必答，而且非常專業，跟著老師一步一步的，能很快感覺到進步。",
                timestamp:"2024-07-31 10:30"}); -%>
                <!-- 2nd Comment -->
                <%- include('./layout/student-comment-card.ejs',{profile:"user-3",
                name:"黄詠琪",commentDetails:"所有我的問題都得到了解決。謝謝老師。", timestamp:"2024-08-01 10:30"}); -%>
                <!-- 3rd Comment -->
                <%- include('./layout/student-comment-card.ejs',{profile:"user-4",
                name:"鍾宗仁",commentDetails:"非常感謝老師。我的問題積累很長的時間，一直不明白，但是老師很有耐心的教導我，我終於明白了原理。下一次還有問題，還是會找老師！",
                timestamp:"2024-08-07 10:30"}); -%>
              </div>
            </section>

            <!-- section 4 - tutor recommendation -->
            <section class="section mb-0">
              <div class="section-component f-between-center">
                <h4>推薦老師</h4>
                <a href="#" class="text-brand-03 d-flex slide-right-hover">
                  <p>更多</p>
                  <span class="material-symbols-outlined icon-fill">arrow_forward</span>
                </a>
              </div>

              <!-- desktop -->
              <ul class="row row-cols-lg-2 g-lg-4 d-none d-lg-flex">
                <!-- tutor1 -->
                <%- include('./layout/tutor-card', {image:"course-1", isFavorite:true, tutorProfile:"user-5.png",name:"平凡老師 - 李東霖",
                title:"WordPress 工程師", score:"4.9", price:250, tags:[{name:"WordPress 網站架設"}]}); -%>
                <!-- tutor2 -->
                <%- include('./layout/tutor-card', {image:"course-5", isFavorite:false, tutorProfile:"user-6.png", name:"米克老師",
                title:"喜歡寫code的前端工程師", score:"3.4", price:100, tags:[{name:"製作 RWD 網站"}, {name: "Bootstrap"}]}); -%>
                <!-- tutor3 -->
                <%- include('./layout/tutor-card', {image:"course-8", isFavorite:false, tutorProfile:"user-7.png", name:"Pong Pong",
                title:"台大資訊訓練班首席老師", score:"4.3", price:530, tags:[{name: "Python"},{name: "Python Flask"}]}); -%>
                <!-- tutor4 -->
                <%- include('./layout/tutor-card', {image:"course-3", isFavorite:true, tutorProfile:"user-10.png",name:"Alan Lee",
                title:"熱愛遊戲的熱血青年", score:"4.3", price:250, tags:[{name:"Unity"}, {name: "2D遊戲製作"} ]}); -%>
              </ul>
              <!-- mobile -->
              <div class="swiper tutor-card-swiper d-block d-lg-none">
                <div class="swiper-wrapper mb-10 py-5">
                  <div class="swiper-slide">
                    <%- include('./layout/tutor-card', {image:"course-1", isFavorite:true, tutorProfile:"user-5.png",name:"平凡老師 - 李東霖",
                    title:"WordPress 工程師", score:"4.9", price:250, tags:[{name:"WordPress網站架設"}]}); -%>
                  </div>
                  <div class="swiper-slide">
                    <%- include('./layout/tutor-card', {image:"course-5", isFavorite:false, tutorProfile:"user-6.png", name:"米克老師",
                    title:"喜歡寫code的前端工程師", score:"3.4", price:100, tags:[{name:"製作 RWD 網站"}, {name: "Bootstrap"}]}); -%>
                  </div>
                  <div class="swiper-slide">
                    <%- include('./layout/tutor-card', {image:"course-8", isFavorite:false, tutorProfile:"user-7.png", name:"Pong Pong",
                    title:"台大資訊訓練班首席老師", score:"4.3", price:530, tags:[{name: "Python"},{name: "Python Flask"}]}); -%>
                  </div>
                  <div class="swiper-slide">
                    <%- include('./layout/tutor-card', {image:"course-3", isFavorite:true, tutorProfile:"user-10.png",name:"Alan Lee",
                    title:"熱愛遊戲的熱血青年", score:"4.3", price:250, tags:[{name:"Unity"}, {name: "2D遊戲製作"} ]}); -%>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <!-- Desktop right CTA card -->
          <div class="col-lg-4 d-lg-block d-none">
            <div class="desktop-cta-card card p-lg-6 p-4 sticky-top">
              <div class="position-relative mb-lg-5 mb-4">
                <div class="img-wrapper img-hover-enlarge rounded-2">
                  <img src="../assets/images/course/course-2.png" class="card-img-top rounded-2 object-fit-cover" alt="course-2" />
                </div>

                <span
                  class="favorite material-symbols-outlined icon-fill p-2 rounded-circle align-middle"
                  role="button"
                  style="background-color: #1e1e1e66"
                  data-favorite="true">
                  favorite
                </span>
              </div>
              <div class="card-body p-0">
                <div class="mb-lg-6 mb-5">
                  <p class="text-gray-02 fs-7 fs-lg-6">每小時收費</p>
                  <h2 class="text-brand-03 fs-lg-2 fs-3">NT $250</h2>
                </div>

                <button class="btn slide-right-hover btn-brand-03 w-100" data-bs-toggle="modal" data-bs-target="#serviceSelectionModal">
                  <p class="f-center me-1">
                    立即預約
                    <span class="material-symbols-outlined">arrow_forward</span>
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="serviceSelectionModal" tabindex="-1" aria-labelledby="serviceSelectionModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-3" id="serviceSelectionModalLabel">請選擇想預約的項目</h1>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-8">
            <div class="row row-cols-2 g-4">
              <div class="col">
                <a href="tutor-booking-payment-step1-1on1.html" class="h-100">
                  <div class="f-center flex-column bg-gray-04 py-8 px-5 rounded-2 slide-up-hover h-100">
                    <h3 class="mb-auto">一對一教學</h3>
                    <img src="../assets/images/deco/Illustration-7.png" alt="" class="w-md-50 w-100 mb-auto" />
                    <p class="text-center">以線上Google meeting的形式， 將於預約時間前一天發送會議連結， 老師會於預約時間內進行一對一單獨指導。</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="tutor-booking-payment-step1-code-review.html" class="h-100">
                  <div class="f-center flex-column bg-gray-04 py-8 px-5 rounded-2 slide-up-hover h-100">
                    <h3 class="mb-auto">程式碼檢視</h3>
                    <img src="../assets/images/deco/Illustration-8.png" alt="" class="w-md-50 w-100 mb-auto" />
                    <p class="text-center">
                      您需要於預約時繳交GitHub Repo， 提供想接受檢視的程式碼， 老師會於預約時間內進行程式碼檢視服務，
                      並且於時間結束時回覆檢視後的結果。
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <!--Mobile sticky bottom CTA card -->
    <div class="mobile-bottom-cta d-lg-none sticky-bottom border border-2 border-brand-02 bg-white" style="border-radius: 16px 16px 0px 0px">
      <div class="pt-4 pb-6 px-4">
        <div class="f-between-center">
          <div>
            <p class="text-gray-02 fs-7 fs-lg-6">每小時收費</p>
            <h2 class="text-brand-03 fs-lg-2 fs-3">NT $250</h2>
          </div>

          <button class="btn slide-right-hover btn-brand-03" data-bs-toggle="modal" data-bs-target="#serviceSelectionModal">
            <p class="f-center me-1">
              立即預約
              <span class="material-symbols-outlined">arrow_forward</span>
            </p>
          </button>
        </div>
      </div>
    </div>

    <script type="module" src="../assets/js/add-to-favorite.js"></script>
    <script type="module" src="../assets/js/show-n-hide-text.js"></script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".tutor-card-swiper", {
        slidesPerView: 1,
        spaceBetween: 40,
        loop: true,
        grabCursor: true,
        autoplay: {
          delay: 5000,
        },
        breakpoints: {
          // when window width is >= 768px
          768: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
        },
      });
    </script>
  </body>
</html>
